body{
	background-color: #e6e9f0
}
.navbar{
	height: 50px; width: 100%; background-color: #000;
}

.title{
	margin-left: 53px; line-height: 50px; font-size: 18px; color: #fff
}
.test{
	margin-top: 10px; height: 35px; float: right; background-color: #26bee6
}

.user{
	margin: 0px auto;
}