<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.ApiLog">

<insert id="insertApiLog" parameterType="ApiLog" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO zxht_api_logs
        (
        api_name,call_people,created_at
        )
        VALUES
        (
        #{api_name,jdbcType=VARCHAR}, #{call_people,jdbcType=VARCHAR},now()
        )
    </insert>
    
</mapper>