<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZsAdvertiserTargetRtrptsTotalEntry">


    <insert id="insertOrUpdateTaobaoZsAdvertiserTargetRtrptsTotalEntryList">
        insert into taobao_zs_advertiser_target_rtrpts_total_list(charge, log_date, ecpc, ad_pv, click, ecpm, ctr, adgroup_name, campaign_name, taobao_user_id, campaign_id, adgroup_id,last_update_time,target_id,target_name)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.charge},#{item.log_date},#{item.ecpc},#{item.ad_pv},#{item.click},#{item.ecpm},#{item.ctr},#{item.adgroup_name},#{item.campaign_name},#{item.taobao_user_id},#{item.campaign_id},#{item.adgroup_id},#{item.last_update_time},#{item.target_id},#{item.target_name})
        </foreach>
        ON DUPLICATE KEY UPDATE
        charge = VALUES(charge),
        ecpc = VALUES(ecpc),
        ad_pv = VALUES(ad_pv),
        click = VALUES(click),
        ecpm = VALUES(ecpm),
        ctr = VALUES(ctr),
        adgroup_name = VALUES(adgroup_name),
        campaign_name = VALUES(campaign_name),
        target_name = VALUES(target_name),
        last_update_time = VALUES(last_update_time)
    </insert>
	

</mapper>