<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZsCreativeEntry">

     <insert id="insertOrUpdateTaobaoZsCreativeEntryList" >
        insert into taobao_zs_creative_list(taobao_user_id,creative_id,creative_name,audit_status,audit_time,cat_id,cat_name,click_url,create_time,modified_time,
        exprie_time,creative_level,creative_size,format,image_path,package_type,multi_materials,online_status,last_update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.taobao_user_id},#{item.creative_id},#{item.creative_name},#{item.audit_status},#{item.audit_time},#{item.cat_id},#{item.cat_name},#{item.click_url},
            #{item.create_time},#{item.modified_time},#{item.exprie_time},#{item.creative_level},#{item.creative_size},#{item.format},#{item.image_path},#{item.package_type},
            #{item.multi_materials},#{item.online_status},#{item.last_update_time})
        </foreach>
        ON DUPLICATE KEY UPDATE
        creative_name = VALUES(creative_name),
        audit_status = VALUES(audit_status),
        audit_time = VALUES(audit_time),
        cat_id = VALUES(cat_id),
        cat_name = VALUES(cat_name),
        click_url = VALUES(click_url),
        create_time = VALUES(create_time),
        modified_time = VALUES(modified_time),
        exprie_time = VALUES(exprie_time),
        creative_level = VALUES(creative_level),
        creative_size = VALUES(creative_size),
        format = VALUES(format),
        image_path = VALUES(image_path),
        package_type = VALUES(package_type),
        multi_materials = VALUES(multi_materials),
        online_status = VALUES(online_status),
        last_update_time = VALUES(last_update_time)
    </insert>
    
</mapper>