<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZsAdzoneEntry">


 	<insert id="insertOrUpdateTaobaoZsAdZoneEntrylist">
        insert into taobao_zs_adzone_list(adzone_id,adzone_level,adzone_name,adzone_size_list,allow_ad_format_list,media_type,allow_adv_type,last_update_time,taobao_user_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.adzone_id},#{item.adzone_level},#{item.adzone_name},
            #{item.adzone_size_list},#{item.allow_ad_format_list},#{item.media_type},#{item.allow_adv_type},#{item.last_update_time},#{item.taobao_user_id})
        </foreach>
        ON DUPLICATE KEY UPDATE
        adzone_level = VALUES(adzone_level),
        adzone_name = VALUES(adzone_name),
        adzone_size_list = VALUES(adzone_size_list),
        allow_ad_format_list = VALUES(allow_ad_format_list),
        media_type = VALUES(media_type),
        allow_adv_type = VALUES(allow_adv_type),
        last_update_time = VALUES(last_update_time)
    </insert>
	
    
</mapper>