<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZsAdgroupAdzoneEntry">

	<insert id="insertOrUpdateAdvertiserList" parameterType="java.util.List">
        insert into taobao_zs_adgroup_adzone_list(taobao_user_id,allow_adv_type,adzone_level,media_type,adzone_name,adzone_id,adzone_size_list,allow_ad_format_list,crowd_id,crowd_type,price,adgroup_id,campaign_id,last_update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.taobao_user_id},#{item.allow_adv_type},#{item.adzone_level},#{item.media_type},#{item.adzone_name},#{item.adzone_id},#{item.adzone_size_list},#{item.allow_ad_format_list},#{item.crowd_id},#{item.crowd_type},#{item.price},#{item.adgroup_id},#{item.campaign_id},#{item.last_update_time})
        </foreach>
        ON DUPLICATE KEY UPDATE
        allow_adv_type = VALUES(allow_adv_type),
        adzone_level = VALUES(adzone_level),
        media_type = VALUES(media_type),
        adzone_name = VALUES(adzone_name),
        adzone_size_list = VALUES(adzone_size_list),
        allow_ad_format_list = VALUES(allow_ad_format_list),
        crowd_type = VALUES(crowd_type),
        price = VALUES(price),
        last_update_time = VALUES(last_update_time)
    </insert>
	
</mapper>