<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZxhtCreativeSyncInfo">
	
	 <update id="updateCreativeSynRunStatusByUserIdAndDate"  parameterType="TaobaoZxhtCreativeSyncInfo">
        update taobao_zxht_creative_sync_info SET run_status=#{run_status},last_update_time=#{last_update_time} where taobao_user_id=#{taobao_user_id} and log_date=#{log_date}
    </update>
	
</mapper>