<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZsDmpEntry">

	 <delete id="deleteDmpByTime" parameterType="TaobaoZsDmpEntry">
        DELETE FROM taobao_zs_dmp_list WHERE last_update_time &lt;#{last_update_time}
    </delete>
    
    <insert id="insertOrUpdateTaobaoZsDmpEntryList" >
        insert into taobao_zs_dmp_list(taobao_user_id, coverage, enable_time, dmp_crowd_name, dmp_crowd_id, update_time,last_update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.taobao_user_id},#{item.coverage},#{item.enable_time},#{item.dmp_crowd_name},#{item.dmp_crowd_id},#{item.update_time},#{item.last_update_time})
        </foreach>
        ON DUPLICATE KEY UPDATE
        coverage = VALUES(coverage),
        enable_time = VALUES(enable_time),
        dmp_crowd_name = VALUES(dmp_crowd_name),
        update_time = VALUES(update_time),
        last_update_time = VALUES(last_update_time)
    </insert>
    
</mapper>