<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoZsAdgroupEntry">
	<resultMap id="taobaoZsAdgroupEntryMap" type="TaobaoZsAdgroupEntry">
	</resultMap>
	
	<insert id="insertOrUpdateTaobaoZsAdgroupEntrylist">
        insert into taobao_zs_adgroup_list(taobao_user_id,campaign_id,online_status,adgroup_id,adgroup_name,last_update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.taobao_user_id},#{item.campaign_id},#{item.online_status},#{item.adgroup_id},#{item.adgroup_name},#{item.last_update_time})
        </foreach>
        ON DUPLICATE KEY UPDATE
        adgroup_name = VALUES(adgroup_name),
        online_status = VALUES(online_status),
        last_update_time = VALUES(last_update_time)
    </insert>

    <select id="getTaobaoZsAdgroupEntryByUserId" resultType="TaobaoZsAdgroupEntry">
        select campaign_id,adgroup_id from taobao_zs_adgroup_list where taobao_user_id=#{taobao_user_id}
    </select>
    
    <delete id="deleteAdgroupEntryByUserid" parameterType="String" >
    	delete from taobao_zs_adgroup_list
    	where taobao_user_id = #{taobao_user_id,jdbcType=VARCHAR}
  	</delete>
  	
  	 <delete id="deleteAdgroupEntryByConditions" parameterType="TaobaoZsAdgroupEntry" >
    	delete from taobao_zs_adgroup_list
    	where taobao_user_id = #{taobao_user_id,jdbcType=VARCHAR}
    	and adgroup_id = #{taobao_user_id,jdbcType=BIGINT}
    	and campaign_id = #{taobao_user_id,jdbcType=BIGINT}
  	</delete>
    
</mapper>