<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.TaobaoCrowdMonitorCoverageEntry">
	
	<select id="getCrowdCoverageInfo" resultType="TaobaoCrowdMonitorCoverageEntry">
        SELECT t2.crowd_value,sum(t3.ad_pv) as ad_pv,t1.campaign_name,t1.mail FROM
        zxht_zz_campaign_info_list t1,taobao_zs_target_list t2,taobao_zs_advertiser_target_day_list t3
        where
        t1.taobao_user_id= #{taobao_user_id}
        and t1.taobao_user_id = t3.taobao_user_id
        and t1.zxht_model = 1
        and t1.coverage_monitor=1
        and t1.campaign_status=1
        and t2.crowd_type = 128
        and t1.campaign_id = t2.campaign_id
        and t2.id = t3.target_id
        and t3.effect = 3
        and t3.effect_type = "click"
        and t3.log_date = #{log_date}
        group by t2.crowd_value
    </select>
	
</mapper>