<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.huonu.domain.model.User">

    <select id="getNormalMannageMail">
        select t1.email from user t1,tuser_admin t2 where
        t1.username = t2.username and t1.role = 10 and t1.status = 10 and t2.is_show = 1
        and t2.taobao_id=#{user_id}
    </select>
    <select id="getAdvancedMannageMail">
        select t1.email from user t1,tuser_admin t2 where
        t1.username = t2.username and t1.role = 5 and t1.status = 10 and t2.is_show = 1
        and t2.taobao_id=#{user_id}
    </select>
    
</mapper>