body {
    background-color: #f8f8f8;
    outline: none;
    font-size: 12px;
}

body label{ font-weight: normal}

.navbar-static-top{ margin: 0px; padding: 0px}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #eee;
}
/*滚动条上半边或左半边*/
::-webkit-scrollbar-track-piece{background-color: #eee;}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:vertical:hover{background: #555555}
::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.page-bar {
    padding: 0px;
    background-color: #f7f7f7;
    margin-bottom: 25px;
}

.page-bar:before, .page-bar:after {
    content: " ";
    display: table;
}

.page-bar:after {
    clear: both;
}

.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 8px;
    margin: 0;
    list-style: none;
}

.page-bar .page-breadcrumb > li {
    display: inline-block;
}

.ie8 .page-bar .page-breadcrumb > li {
    margin-right: 1px;
}

.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
    color: #888;
    font-size: 14px;
    text-shadow: none;
}

.page-bar .page-breadcrumb > li > i {
    color: #aaa;
    font-size: 14px;
    text-shadow: none;
}

.page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-bar .page-breadcrumb > li > i[class*="icon-"] {
    color: gray;
}

.form-filter {
    float: left;
    display: inline-block;
    margin-right: 30px;
}

.form-filter-field, .form-filter-content, .form-filter-btn {
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.form-filter-field, .form-filter-content input[type='text'], .form-filter-btn .btn {
    height: 30px;
    font-size: 12px;
}

.form-filter-btn .btn {
    margin-bottom: 10px;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eeeeee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.chs {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(10%);
        width: -moz-calc(10%);
        width: -webkit-calc(10%);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}

.layer-form {
    width: 80%;
    margin: 20px 0px 20px 50px;
}

.control-group {
    margin: 10px;
}

/*创建复盘*/
.creat-step {
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid;
    border-radius: 50%;
    float: left;
    line-height: 16px;
    text-align: center;
}

/* 清除蓝色边框 */
.tab-pane {
    outline: none;
}

.reveal-modal {
    z-index: 9996;
}

.field-box-title {
    float: left;
    width: 50%;
}

.field-box-title-head {
    border-bottom: 1px solid #eff2f7;
    line-height: 40px;
    padding-left: 25px
}

.field-box-title-center {
    padding-left: 15px;
}

.control-group ul {
    margin-top: 25px;
}

.control-group ul li {
    margin-top: 5px;
}

/*拖动样式*/
/*body.dragging, body.dragging * {*/
/*cursor: move !important;*/
/*}*/
.dragged {
    position: absolute;
    opacity: 1;
    z-index: 2000;
}

ul.custom-fields li.placeholder {
    position: relative;
    list-style: none;
}

ul.custom-fields li.placeholder:before {
    position: absolute;
}

/*策略组*/
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card-text {
    font-size: 85%;
}

.strategic-group {
    background-color: #669BD4;
    border-radius: 5px 5px 0 0;
}

.pd10{ padding: 10px;}
.pd15{ padding: 15px;}
.pa20{padding: 20px}

.m20{ margin: 20px}

.pdl5{ padding-left: 5px}
.pdl10{ padding-left: 10px}
.pdl15{ padding-left: 15px}
.pdl25{ padding-left: 25px}
.pdl30{ padding-left: 30px}
.pdl20{ padding-left: 20px}
.pl40{ padding-left: 40px}
.pdl90{ padding-left: 90px}
.pdl1{ padding-left: 1%}
.pdr10{ padding-right: 10px}
.pdr20{ padding-right: 20px}
.pdr40{ padding-right: 40px}
.pdr70{ padding-right: 70px}

.pb5{padding-bottom: 5px}
.pb10{padding-bottom: 10px}
.pb15{padding-bottom: 15px}
.pb20{padding-bottom: 20px}
.pb25{padding-bottom: 25px}
.pb60{ padding-bottom: 60px}

.pt5{ padding-top: 5px}
.pt10{ padding-top: 10px}
.pt15{ padding-top: 15px}
.pt20{ padding-top: 20px}
.pt25{ padding-top: 25px}
.pt20{ padding-top: 20px}
.pt40{ padding-top: 40px}

body .s_fs_12{font-size: 12px}
body .s_fs_15{ font-size: 15px}
body .s_fs_16{ font-size: 16px}
body .s_fs_20{font-size:20px}

.mb5 { margin-bottom: 5px}
.mb10 { margin-bottom: 10px}
.mb15{ margin-bottom: 15px}
.mb20 { margin-bottom: 20px}
.mb25 { margin-bottom: 25px}
.mb30 { margin-bottom: 30px}
.mb60 { margin-bottom: 60px}

.mt10{ margin-top: 10px}
.mt20{ margin-top: 20px}
.mt40{ margin-top: 40px}
.mt80{ margin-top: 80px}

.mr5{ margin-right: 5px}
.mr10{ margin-right: 10px}
.mr19{ margin-right: 19px}
.mr20{ margin-right: 20px}
.mr26{ margin-right: 26px}
.mr30{ margin-right: 30px}

.ml5{ margin-left: 5px}
.ml10{ margin-left: 10px}
.ml20{ margin-left: 10px}
.ml14{ margin-left: 14px}
.ml70{ margin-left: 70px}

.s_fc_c{ color: #4d7fff}
.s_fc_ct{color: #ccc;}
.s_fc_3{color: #333;}
.s_fc_9{ color: #999}
.s_fc_green{ color: #51A300}
.s_fc_red{ color: #a40100}
body .bg-fafafa{background-color: #fafafa}
body .s_fc_brand{ color: #4d7fff}
.radius4{border-radius:4px}
body .qualification_status_P{ color: #51A300}
body .s_fc_notice{color: #ffb400;}

body .font-tahoma{    font-family: Tahoma;}

body .s_fs_18{ font-size: 18px}
body .s_fs_14{ font-size: 14px}
body .s_fs_26{ font-size: 26px}

b, body .bold, body .fb, strong{font-weight: 700;}

.pr{ position: relative}
.fl{ float: left}
.fr{ float: right}
body .clearfix:after, .clearfix:before{content: "";
    display: table;}
body .clearfix:after{clear: both;}

body .lh24{ line-height: 24px}
body .lh32{ line-height: 32px}
body .lh35{ line-height: 35px}
body .lh28{ line-height: 28px}
body .lh70{ line-height: 70px}
body .h32{ height: 32px}
.bb-e6{border-bottom: 1px solid #e6e6e6;}
.tips-help{margin-left: 2px; color: #ccc; cursor: help; font-size: 14px;}

body .word-break{word-break: break-all;}
body .dpib{display: inline-block;}

.w60 {width: 60px;}
.w90{ width: 90px}
.wi100{ width: 100px}
.w120{ width: 120px}
.w140{ width: 140px}
.w150{ width: 150px}
.w180{ width: 180px}
.w300{ width: 300px}

.bx-anim-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    transition: border-color .3s ease-out;
    -moz-transition: border-color .3s ease-out;
    -webkit-transition: border-color .3s ease-out;
    -o-transition: border-color .3s ease-out;
    border-radius: 50%;
}
.bx-anim-radio:hover {
    border-color: #999;
}
.bx-anim-checkbox, .bx-anim-radio {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    overflow: hidden;
}
.bx-anim-radio:checked:after {
    content: '';
    border-radius: 100%;
    background-color: #4d7fff;
    width: 50%;
    height: 50%;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25%;
    margin-left: -25%;
    animation: radio .2s ease-out;
    -ms-animation: radio .2s ease-out;
    -moz-animation: radio .2s ease-out;
    -webkit-animation: radio .2s ease-out;
    -o-animation: radio .2s ease-out;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

body .cp, body .cursor-pointer, body .pointer{ cursor: pointer}
body .cursor-help{cursor: help;}

body .displacement-2{top: 2px;}

body .dpn{ display: none}

.btn-gray{ background-color: #e6e6e6; color: #333; border-color: #e6e6e6}
body .btn-gray:hover{background-image:none;background-color:#ccc;color:#333}

.table th, .table td {
    text-align: left;
    vertical-align: middle!important;
    height: 60px; line-height: 60px;
}

body .tal{ text-align: left;}

ol, ul{    list-style-type: none;}
body .ellipsis, body .nowrap, body .text-overflow{overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}

.ux-status-handle {
    position: relative;
}

.ux-status-handle:hover .ux-status-handle {
    display: block;
}

.ux-status-handle .ux-status-info {
    position: absolute;
    left: 0;
    top: -1px;
    z-index: 9996;
    width: 246px;
    box-shadow: 0 6px 8px rgba(51, 51, 51, .08);
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    text-align: left;
    line-height: 1.8;
    border-collapse: separate;
    word-wrap: break-word;
    overflow: hidden;
}
.ux-status-handle .ux-status-arrow{position: absolute;
    left: 22px;
    margin-top: 10px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 3px 3px 0;
    border-color: #999 transparent transparent;}

.ux-status-handle .ux-status-info .ux-status-operations li.ux-operation-cur{cursor: default}
.ux-status-handle .ux-status-info .ux-status-operations li{list-style-type: none; list-style-image: none; height: 44px; line-height: 32px; padding: 5px 10px; cursor: pointer;}
.ux-status-handle .ux-status-info .ux-status-operations{ padding: 0px; margin: -5px 0 0 0 }
.ux-status-handle .ux-status-info .ux-status-operations li:hover{background-color: #fafafa;}
.ux-status-handle .ux-status-info .ux-status-operations li i{line-height: 32px; float: left}
.ux-status-handle .ux-status-info .ux-status-operations li a{line-height: 35px; padding-left: 10px}
.ux-status-handle .ux-status-info .ux-status-operations li .ux-operation-cur-icon{float: right; margin-right: 4px; color: #999; font-size: 10px;}

#dataTables-example .operation-td{ padding-left: 56px; margin-left: 56px}


/*地域设置*/
body .dpIb{ display: inline-block}
.regionHalf{float: left;
    width: 50%;}
.w100{ width: 100%}
.regionArea{ position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    line-height: 48px;
    font-size: 14px;
    color: #999;
    font-weight: 700;}
.provinceItem{position: relative;
    float: left;
    width: 110px;
    height: 48px;
    line-height: 48px;}

#field-select .dropdown-menu{ margin-top: 0px}

.detail-data-head ul{ margin-top: 0px; border: none}
.detail-data-head ul li { margin-top: 0px; width: 80px}


/*单元*/
.number-style{
    position: relative;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    color: #999;
}
.number-style .number-line{position: absolute;
    top: 25px;
    left: 50%;
    width: 0;
    height: 65px;
    border-left: 1px solid #eee;}

.number-style.second-number-style .number-line{height:24px}

.key-result-box{    float: left;
    width: 47%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;}
.key-result-box .key-result-header{border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #e6e6e6;}
.key-result-box .key-result-bottom, .key-result-box .key-result-header{height: 40px;
    padding: 0 10px;
    line-height: 40px;
    background-color: #fafafa;}
.key-result-box .key-result-items{ width: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;}
.key-result-box .key-result-items .key-result-item{    height: 30px;
    line-height: 29px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.key-result-box .key-result-items .key-result-item .fl{    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.key-result-box .key-result-items .key-result-item:hover .fr{color: #4f82ff;}

.key-result-box .key-hover-items{ padding: 0px; overflow-y: auto;}
.key-result-box .key-hover-items li{padding: 4px 10px;}
.key-result-box .key-hover-items li .hover-td{display: table-cell;
    vertical-align: middle;}
.key-result-box .key-hover-items li .hover-td .hover-ellipsis{    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.key-result-box .key-hover-items li:hover .hover-ellipsis{overflow: visible;
    white-space: normal;}
.key-result-box .key-hover-items li:hover{background-color: #fafafa;}

.key-result-gap{float: left;
    width: 6%;
    height: 256px;
    text-align: center;
    line-height: 378px;
    vertical-align: middle;
    color: #ccc;}
.key-result-gap{ line-height: 256px;}
.key-result-gap i{
    font-size: 25px;
    font-weight: 400;}

body .dialog-body{padding: 12px 24px;}

.adzoneGroups{ margin: 0px; padding: 0px}
.adzoneGroups .groupItems{float: left;
    width: 18%;
    margin-right: 2%;}
.adzoneGroups .groupItems ul{height: 120px;
    overflow-y: scroll; margin: 0px; padding: 0px}
.adzoneGroups .groupItems ul li{ margin-bottom: 5px}

/*创意*/
.bannerCreativeBox{margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;}
.bannerCreativeBox .boxCreatives{    padding: 20px 0 0 18px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;}
.bannerCreativeBox .boxOver{height: 50px;
    padding: 9px 20px;
    line-height: 32px;
    background-color: #fafafa;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;}

.boxCreative{width: 22%;
    height: 200px;}
.creativeImg{position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid #e6e6e6;
    overflow: hidden;}
.creativeImg .inline-block{display: table-cell;
    background-color: #fafafa;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: middle;}
.boxCreative .creativeEdit{height: 24px;
    margin-top: 6px;}
.boxCreative .creativeEdit .creativeBtn{position: relative;
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
    transition: border-color .15s ease-out;}

.boxCreative .creativeEdit .creativeBtn:hover i{color: #4d7fff;}
.boxCreative .creativeEdit .creativeBtn .btnTip{    display: none;
    position: absolute;
    z-index: 3;
    top: -32px;
    left: -34px;
    width: 92px;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    border-radius: 4px;
    background-color: rgba(33,33,33,.8);}
.boxCreative .creativeEdit .creativeBtn:hover .btnTip{display: block;}

.pic-preview{position: absolute;
    z-index: 99999;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-collapse: separate;
    background-color: #fff;
    padding: 10px;}

.market-content{min-height: 370px;
    max-height: 687px;
    overflow-y: auto; padding: 0}
.market-content li{position: relative;
    line-height: 60px;
    border-bottom: 1px solid rgb(230, 230, 230);}
.market-content li .market-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 162px;
    height: 100%;
    padding-top: 20px;
    padding-left: 40px;
    background-color: rgb(250, 250, 250);
    border-right: 1px solid rgb(230, 230, 230);}
.market-content li .market-children {
    box-sizing: border-box;
    min-height: 100px;
    margin-left: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.market-content li .market-children label {
    float: left;
    width: 100px;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.target-choose-result-item{position: relative;
    float: left;
    max-width: 580px;
    min-width: 90px;
    height: 32px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px 9px;
    line-height: 26px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;}
.target-choose-result-item:hover a.delete {
    display: inline-block;
}
.target-choose-result-item a.delete {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 30px;
    padding: 3px 4px;
    color: #fff;
    background-color: #4f82ff;
    border-bottom-right-radius: 4px!important;
    border-top-right-radius: 4px!important;
}

body .similar-img{display: table-cell;
    width: 70px;
    height: 70px;
    background-color: #fafafa;
    vertical-align: middle;text-align: center;
    border: 1px solid #e6e6e6;}

body .table tbody tr td{padding: 22px 8px;
    line-height: 1.4;
    max-height: 90px;
    color: #333;
    border-top: none;
    border-bottom: 1px solid #ebebeb;
    transition: background-color .15s ease-out;
}
.vertical-align-middle-100>div.inline-block{position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    width: 102px;
    text-align: center;
    background-color: #fafafa;}
.creativeIcons{padding: 0px; min-height: 182px; max-height: 516px; overflow-y: auto;}
.creativeIcons li{width: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow: hidden;}
.creativeIcons li .iconLine{display: block;
    width: 100%;
    height: 22px;
    padding-right: 4px;
    padding-left: 4px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}

.fields-content{    min-height: 370px;
    max-height: 687px; padding-left: 25px}
.fields-content li{
    line-height: 60px;
    border-bottom: 1px solid rgb(230, 230, 230);}