body {
    line-height: 180%;
    padding-top: 88px;
    padding-bottom: 40px;
    background-color: #f3f4f5;
    font-size: 1.0em;
}

.login {
    width: 300px;
    margin: 0px auto;
}

.login .clear {
    clear: both;
    height: 30px;
}

.login input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 6px 15px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.login input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#login {
    width: 300px;
    height: 46px;
    line-height: 46px;
    margin-top: 20%;
    text-align: center;
    color: white;
    border: none;
    background: #337ab7;
    border-radius: 3px;
}

#login:hover {
    background: #286090;
}

.copyright {
    padding-top: 55px;
    text-align: center;
    font-size: 10px;
    color: #888;
}

.form-group input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
