

@font-face {
    font-family: iconfont-animation;
    src: url(//at.alicdn.com/t/font_1439300088_3415737.eot);
    src: url(//at.alicdn.com/t/font_1439300088_3415737.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_1439300088_3415737.woff) format('woff'), url(//at.alicdn.com/t/font_1439300088_3415737.ttf) format('truetype'), url(//at.alicdn.com/t/font_1439300088_3415737.svg#iconfont-animation) format('svg')
}

.iconfont, .sanhan, .zs_iconfont {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: iconfont;
    src: url(//at.alicdn.com/t/font_641_k4cj2j9mlw8w7b9.eot);
    src: url(//at.alicdn.com/t/font_641_k4cj2j9mlw8w7b9.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_641_k4cj2j9mlw8w7b9.woff) format('woff'), url(//at.alicdn.com/t/font_641_k4cj2j9mlw8w7b9.ttf) format('truetype'), url(//at.alicdn.com/t/font_641_k4cj2j9mlw8w7b9.svg#iconfont) format('svg')
}

.zs_iconfont {
    font-family: iconfont !important;
    font-size: 16px;
    font-weight: 400
}

@font-face {
    font-family: uxiconfont;
    src: url(//assets.alicdn.com/g/thx/brix/fonts/uxiconfont.eot);
    src: url(//assets.alicdn.com/g/thx/brix/fonts/uxiconfont.eot?#iefix) format("embedded-opentype"), url(//assets.alicdn.com/g/thx/brix/fonts/uxiconfont.woff) format("woff"), url(//assets.alicdn.com/g/thx/brix/fonts/uxiconfont.ttf) format("truetype"), url(//assets.alicdn.com/g/thx/brix/fonts/uxiconfont.svg#svgFontName) format("svg")
}

@font-face {
    font-family: techfont;
    src: url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/Oswald-Bold.ttf);
    src: url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/Oswald-Bold.ttf?#iefix) format('embedded-opentype'), url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/Oswald-Bold.ttf) format('woff'), url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/Oswald-Bold.ttf) format('truetype'), url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/Oswald-Bold.ttf#FZZDHJW--GB1-0) format('svg')
}

@font-face {
    font-family: webfont;
    src: url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/AkzidenzGrotesk-Cond.otf);
    src: url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/AkzidenzGrotesk-Cond.otf?#iefix) format('embedded-opentype'), url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/AkzidenzGrotesk-Cond.otf) format('woff'), url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/AkzidenzGrotesk-Cond.otf) format('truetype'), url(//g.alicdn.com/mm/zuanshi/20161214.111214.492/app/lib/AkzidenzGrotesk-Cond.otf#FZZDHJW--GB1-0) format('svg')
}

@font-face {
    font-family: sanhanfont;
    src: url(//at.alicdn.com/t/webfont_pb49qfxya5uerk9.eot);
    src: url(//at.alicdn.com/t/webfont_pb49qfxya5uerk9.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/webfont_pb49qfxya5uerk9.woff) format('woff'), url(//at.alicdn.com/t/webfont_pb49qfxya5uerk9.ttf) format('truetype'), url(//at.alicdn.com/t/webfont_pb49qfxya5uerk9.svg#FZZDHJW--GB1-0) format('svg')
}

.zs_iconfont_nodata {
    color: #999;
    font-size: 60px
}
.wrapper .wrap .sidebar .sidebar-toggle .zs_iconfont {
    opacity: 0;
    float: right;
    width: 20px;
    text-align: center;
    color: #9ea0a6;
    cursor: pointer;
    transition: opacity .2s
}

.wrapper .wrap .sidebar .sidebar-toggle .zs_iconfont:hover {
    color: rgba(255, 255, 255, .6)
}

.wrapper .wrap .sidebar .sidebar-content .sidebar-second .sidebar-title .zs_iconfont {
    float: right;
    line-height: 46px;
    cursor: pointer;
    color: #9ea0a6;
    transition: all .2s ease-out
}

.wrapper .wrap .sidebar .sidebar-content .sidebar-second .sidebar-title.sidebar-title-expand .zs_iconfont {
    transform: rotate(180deg)
}

.wrapper .wrap .sidebar .sidebar-content .sidebar-second .sidebar-title.on, .wrapper .wrap .sidebar .sidebar-content .sidebar-second .sidebar-title.on .zs_iconfont, .wrapper .wrap .sidebar .sidebar-content .sidebar-second .sidebar-title:hover, .wrapper .wrap .sidebar .sidebar-content .sidebar-second .sidebar-title:hover .zs_iconfont {
    color: #fff
}


.target-type.selected-target-type .zs_iconfont {
    position: absolute;
    top: 9px;
    right: 20px
}

.blue-dialog .btn.btn-white, .blue-dialog .btn.btn-white .zs_iconfont, .blue-dialog .btn.btn-white:hover {
    color: #4d7fff
}